html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

/* Custom Stuff */

body {
    background: darkslategray;
}

.main_flow {
    width: 100%;
}

section {
    display: grid;
    grid-template-areas: "text map";
}

.content {
    background-color: #f4f4f4;
    grid-area: text;
    display: grid;
    place-items: center;
    padding: 2rem;
    width: 30vw;
}

.content > .caption {
    display: grid;
    place-items: center;
    height: 100vh;
}

.map {
    grid-area: map;
    width: 70vw;
    height: 100%;
    z-index: -1;
    overflow: clip;
}

.map > img {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 2rem;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    transition: all 1s ease-in-out;
}